<!DOCTYPE html>
<html>
<head>
    <title>Clash Trainer</title>
</head>
<body>
    <div style="width: 100vw; display: flex; flex-direction: column; align-items: center; margin-top: 130px;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div id="game-box" style="display: flex; flex-direction: column; align-items: center; border: 1px solid black; padding: 20px; padding-bottom: 46px; margin-top: 50px; width: 300px;">
                <h1>Clash Trainer</h1>
                <p id="card-name" style="font-size: 20px;">Loading...</p>
        
                <input type="number" id="guess" min="1" max="9" style="margin-bottom: 18px;">
                <button id="submit-btn">Submit Guess</button>
        
            </div>
            <p id="message" style="text-align: center; margin-top: 40px; font-size: 18px; font-weight: 500 ;"></p>
            <button id="new-game-btn" style="display: none">
                New Game
            </button>
        </div>
    </div>

    <script>
        async function fetchNextCard() {
            const res = await fetch("/api/next_card");
            const data = await res.json();

            if (data.finished) {
                document.getElementById("card-name").innerText = "All cards completed!";
                document.getElementById("submit-btn").disabled = true;
                document.getElementById("new-game-btn").style = "display: flex;";
                // add the line that makes the new game button appear
                return;
            }

            document.getElementById("card-name").innerText = data.card;
        }

        async function submitGuess() {
            const guess = document.getElementById("guess").value;

            const res = await fetch("/api/submit_guess", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({ guess: guess })
            });

            const data = await res.json();

            if (data.correct) {
                document.getElementById("message").innerText = "Correct!";
            } else {
                document.getElementById("message").innerText =
                    "Wrong! Correct was " + data.correct_elixir;
            }

            if (data.finished) {
                document.getElementById("card-name").innerText =
                    "All cards completed!";
                document.getElementById("submit-btn").disabled = true;
            } else {
                fetchNextCard();
            }
        }
        
        async function newGame() {
            // just reoload the page...
            // Also. new game button should only appear when card pool becomes empty
        }

        document.getElementById("submit-btn").onclick = submitGuess;

        document.getElementById("new-game-btn").onclick = newGame;

        // Load first card:
        fetchNextCard();
    </script>

</body>
</html>
